{% extends 'base.html' %}

{% block content %}
<style>
    body {
        position: relative;
    }

    table {
        border-collapse: collapse;
        width: 80%;
        margin: 50px auto;
        position: relative; /* Position relative to draw arrows within the table */
    }

    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        position: relative; /* Position relative for absolutely positioned arrows */
    }

    .arrow {
        position: absolute;
        background: black;
        transform-origin: 0 0; /* Anchor the transformation at the start of the arrow */
        z-index: 10; /* Ensure the arrow is above other content */
        height: 2px; /* Arrow thickness */
    }

    .arrow::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid black; /* Arrowhead color */
            top: 5px; /* Adjust to position the arrowhead */
            left: 100%; /* Position it at the end of the arrow */
            transform: rotate(-90deg); /* Ensure the arrowhead is oriented correctly */
            transform-origin: 0 0; /* Ensure rotation around its own origin */
        }
</style>
<div class="content">
    <h1 data-i18n="fm_index_title">FM Index Pattern Search</h1>
    <form action="" method="post" id="searchForm">
        <input type="text" data-i18n="fm_textInput_placeholder" id="textInput" name="text" placeholder="Enter text here" class="input-field" value="{{ text }}" maxlength="15">
        <input type="text" data-i18n="fm_patternInput_placeholder" id="patternInput" name="pattern" placeholder="Enter pattern to search for" class="input-field" value="{{ pattern }}" maxlength="15" style="display: none;">
        <input type="hidden" id="languageInput", name="language">
        <div class="toggle-container">
            <input type="checkbox" id="toggleLimitText" name="toggleLimitText">
            <span for="toggleLimitText" data-i18n="fm_toggleLimitText" >Disable character limit</span>
        </div>
        <button type="submit" data-i18n="fm_submitButton" id="submitButton" class="submit-btn" disabled>Search</button>
    </form>
    {% if message %}
    <p id="fm_message"class="message">{{ message }}</p>
    {% endif %}
    {% if count is not none %}
    <!-- <p class="count" data-i18n="fm_count" id="count">Count: {{ count }}</p> -->
    {% endif %}

    {% if bwt_matrix %}
    <div class="bwt-matrix">
        <table>
            <tr>
                <!-- Header for Rotation, Position and BWT -->
                <th>Rotation</th>
                <th>Position</th>
                <th>First</th>
                <th>BWT</th>
                <!-- Header for Rank Data -->
                {% for key in rankAll.keys()|sort %}
                <th>Rank {{ key }}</th>
                {% endfor %}
            </tr>
            {% set row_num = [0] %}  <!-- Initialize a manual counter -->
            {% set position_counter = {} %}
            {% set tots_index = 0 %}
            {% for row in bwt_matrix %}
            {% set first_char = row[0] %}
            {% if first_char not in position_counter %}
                {% set position_counter = position_counter.update({first_char: 1}) or position_counter %}
            {% else %}
                {% set position_counter = position_counter.update({first_char: position_counter[first_char] + 1}) or position_counter %}
            {% endif %}
            <tr id="bwt-row-{{ row_num[-1] }}">  
                <!-- Rotation Data (entire string) -->
                <td>{{ row[:] }}</td>
                <!-- Position Data -->
                <td class="position-column">{{ position_counter[first_char] }}</td>
                <!-- First and BWT Data -->
                <td class="first-column">{{ first_char }}</td>
                <td class="bwt-column">{{ row[-1] }}</td>
                <!-- Rank Data -->
                {% for key in rankAll.keys()|sort %}
                <td class="rank-{{ key }}">{{ rankAll[key][row_num[-1]] }}</td>
                {% endfor %}
            </tr>
            {% if row_num.append(row_num.pop() + 1) %}{% endif %}  <!-- Increment the counter -->
            {% endfor %}
        </table>
        <div id="arrows-container"></div>
    </div>
    
    {% endif %}
</div>

<!-- Navigation controls for the step-by-step visualization -->
<div class="step-navigation">
    <button id="prevStep" data-i18n="fm_prevStep" onclick="prevStep()">← Prev</button>
    <span class="current-step" data-i18n="fm_currentStepDisplay" id="currentStepDisplay">Step</span>
    <button id="nextStep" data-i18n="fm_nextStep" onclick="nextStep()">Next →</button>
</div>

<script>

    // Constants for the input fields, submit button, and step navigation controls
    const textInput = document.getElementById('textInput');
    const patternInput = document.getElementById('patternInput');
    const submitButton = document.getElementById('submitButton');
    const navControls = document.querySelector('.step-navigation'); // Reference to the navigation controls
    const prevButton = document.getElementById('prevStep');
    const nextButton = document.getElementById('nextStep');
    const currentStepDisplay = document.getElementById('currentStepDisplay');
    const message = document.getElementById('fm_message');
    let count_value = '{{ count }}';
    let pattern = '{{ pattern }}';
    
    // Variables for tracking the current step and maximum number of steps
    let currentStep = 0;
    let last_step = 0;
    var maxSteps = 100; // Placeholder for the maximum number of steps, adjust based on actual process
    let next_step_lookahead = new Map();
    let targetChar = ''
    let string_done = []
    let finished = false
    let stepStates = {}; // Object to store step states
    let stepLinks = { 0: {}}; // Object to store step links
    let arrow_states = {0: []};	// Object to store arrow states
    stepLinks[0].next = 1;

    document.getElementById('toggleLimitText').addEventListener('change', function() {
        const textInput = document.getElementById('textInput');
        if (this.checked) {
            textInput.removeAttribute('maxlength');
        } else {
            textInput.setAttribute('maxlength', '15');
            if (textInput.value.length > 15) {
                textInput.value = textInput.value.substring(0, 15);
            }
        }

        const patternInput = document.getElementById('patternInput');
        if (this.checked) {
            patternInput.removeAttribute('maxlength');

        } else {
            patternInput.setAttribute('maxlength', '15');
            if (patternInput.value.length > 15) {
                patternInput.value = patternInput.value.substring(0, 15);
                if (textInput.value.length > 0) {
                    patternInput.setAttribute('maxlength', textInput.value.length-1);
                    patternInput.value = patternInput.value.substring(0, textInput.value.length-1);   
                }
            }
        }
    });

    
    function makelanguagechanges(language) {
        console.log("THIS ISAOLONDSAO")
        if (language == "en" && message != null) {
            if( message.textContent.length > 0 && pattern.length > 0) {
                message.textContent = "The pattern " + pattern + " occurs " + count_value + " time(s) in the text."
            } else {
                message.textContent = "Please provide a pattern to search for."
            }
        }
            
        else if (language == "hr" && message != null) {
            if ( message.textContent.length > 0 && pattern.length > 0) {
                message.textContent = "Uzorak " + pattern + " se pojavljuje " + count_value + " puta u zadanom nizu."
            } else {
                message.textContent = "Morate unijeti uzorak za pretragu."
            }
        }
    }


    function saveStepState(step, state) {
        stepStates[step] = state;
    }

    function linkStepStates(step) {
        if (stepStates[step - 1]) {
            stepLinks[step] = { prev: step - 1 };
            stepLinks[step - 1].next = step;
        }
    }
    
    
    // Function to update the enable/disable state of the submit button based on input fields
    function updateButtonState() {
        if (textInput.value.trim()) {
            submitButton.disabled = false;  // Enable the button if both fields are not empty
        } else {
            submitButton.disabled = true;   // Disable the button if either field is empty
        }
    }
    
    function prevStep() {
        if (currentStep > 0) {
            clearAllArrows();
            last_step = currentStep;
            if (stepLinks[currentStep] && stepLinks[currentStep].prev && stepStates[stepLinks[currentStep].prev]) {
                restoreTableState(stepStates[stepLinks[currentStep].prev]);
                currentStep--;
                if (arrow_states[currentStep]) {
                    redrawArrows(arrow_states[currentStep]);
                }               
                currentStep.toString().length
                if(currentStepDisplay.textContent.length > 4 && languageInput.value == "en") {
                    currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
                }
                if(currentStepDisplay.textContent.length > 5 && languageInput.value == "hr") {
                    currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
                }
                currentStepDisplay.textContent += " " +currentStep;
            } else {
                currentStep--;
                updateVisualization();
            }
            finished = false
            updateStepButtonState();
        }
    }
    function nextStep() {
        if (currentStep < maxSteps) {
            clearAllArrows();
            last_step = currentStep    
            if (stepLinks[currentStep] && stepLinks[currentStep].next && stepStates[stepLinks[currentStep].next]) {
                restoreTableState(stepStates[stepLinks[currentStep].next]);
                currentStep++;
                if (arrow_states[currentStep]) {
                    redrawArrows(arrow_states[currentStep]);
                }          
                currentStep.toString().length
                if(currentStepDisplay.textContent.length > 4 && languageInput.value == "en") {
                    currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
                }
                if(currentStepDisplay.textContent.length > 5 && languageInput.value == "hr") {
                    currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
                }
                currentStepDisplay.textContent += " " + currentStep;
            } else {
                currentStep++;
                updateVisualization();
            }
            if(currentStep == maxSteps) {
                    finished = true
                }
            updateStepButtonState();
        }
    }
    function updateStepButtonState() {
        if (finished == true) {
            nextButton.disabled = true
            prevButton.disabled = false
            return   
        }
        else if (currentStep == 0) {
            prevButton.disabled = true
            if (finished == false) {
                nextButton.disabled = false
            }
            return
        }
        prevButton.disabled = false
        nextButton.disabled = false 
        return
    }

    function clearHighlightsFromStep(step) {
        const taggedCells = document.querySelectorAll(`[data-tag="step-${step}"]`);
        taggedCells.forEach(cell => {
            cell.classList.remove('highlight-pink', 'highlight-red'); 
        });
    }

    function clearTagsFromStep(step) {}

    // Function to tag and highlight cells for a specific step
    function tagAndHighlightCells(cells, step, highlightClass, should_tag=true) {
        cells.forEach(cell => {
            cell.classList.add(highlightClass);
            const last_tag = cell.dataset.tag
            cell.dataset.tag = `step-${step}`;
        });
    }
    // Function to save the current table state
    function saveTableState() {
        const taggedCells = document.querySelectorAll('[data-tag]');
        const highlightedCells = document.querySelectorAll('.highlight-pink, .highlight-red');
        const tags = [];
        const highlights = [];
        taggedCells.forEach(cell => {
            tags.push({
                tag: cell.dataset.tag,
                element: cell
            })
        });
        highlightedCells.forEach(cell => {
            highlights.push({
                class: Array.from(cell.classList).find(c => c.startsWith('highlight')),
                element: cell
            })
        });
        return { tags, highlights };
    }

    // Function to restore a previously saved table state
    function restoreTableState({ tags, highlights }) {
        clearAllTags();
        clearAllHighlights();
        tags.forEach(tag => {
            tag.element.dataset.tag = tag.tag;
        });
        highlights.forEach(highlight => {
            highlight.element.classList.add(highlight.class);
        });
    }

    function redrawArrows(arrow_state) {
        if (arrow_state.length > 0) {
            arrow_state.forEach(element => {
                drawArrowBetweenCells(element.from, element.to); 
            });
            
        }
    }

    function clearAllTags() {
    const taggedCells = document.querySelectorAll('[data-tag]');
    taggedCells.forEach(cell => {
        cell.removeAttribute('data-tag');
    });
}

    function clearAllHighlights() {
        const highlightedCells = document.querySelectorAll('.highlight-pink, .highlight-red');
        highlightedCells.forEach(cell => {
            cell.classList.remove('highlight-pink', 'highlight-red');
        });
    }

    function clearAllArrows() {
        const arrowsContainer = document.getElementById('arrows-container');
        
        // Remove all arrow elements from the container
        while (arrowsContainer.firstChild) {
            arrowsContainer.removeChild(arrowsContainer.firstChild);
        }
    }

    function drawArrowBetweenCells(fromCell, toCell, step) {
        if (arrow_states[step] === undefined) {
            arrow_states[step] = [];
        }
        arrow_states[step].push({from: fromCell, to: toCell });
        // Create a new div for the arrow
        const arrow = document.createElement('div');
        arrow.classList.add('arrow');

        // Calculate positions
        const fromRect = fromCell.getBoundingClientRect();
        const toRect = toCell.getBoundingClientRect();

        // Calculate center points
        const startX = fromRect.left + fromRect.width / 2 + window.scrollX;
        const startY = fromRect.top + fromRect.height / 2 + window.scrollY;
        const endX = toRect.left + toRect.width / 7 + window.scrollX;
        const endY = toRect.top + toRect.height / 2 + window.scrollY;

        // Set arrow position and dimensions
        const length = Math.sqrt((endX - startX) ** 2 + (endY - startY) ** 2);
        const angle = Math.atan2(endY - startY, endX - startX) * 180 / Math.PI;

        arrow.style.width = `${length}px`;
        arrow.style.transform = `rotate(${angle}deg)`;
        arrow.style.left = `${startX}px`;
        arrow.style.top = `${startY}px`;

        // Append the arrow to the container
        document.getElementById('arrows-container').appendChild(arrow);
    }

    function performStepLogic(step) {
        // Example logic for Step 1
        if (step === 0) {
            finished = false
            clearHighlightsFromStep(last_step)
            const currentState = saveTableState();
            saveStepState(step, currentState); // Save the state for the current step

            // Link the states
            linkStepStates(currentStep);
            return
        }
        if (step === 1) {
            finished = false
            let pattern = '{{ pattern }}';
            let firstColumnCells = document.querySelectorAll('.first-column');
            let selectedCells = [];
            targetChar = pattern[pattern.length - step]
            if (pattern.length === 1) {
                maxSteps = step
            }

            // Loop through each cell in the "First" column
            firstColumnCells.forEach((cell, index) => {
                if (cell.textContent === targetChar) {
                    selectedCells.push(cell); // Add this cell to the array of selected cells

                    let correspondingBWTCell = document.querySelector(`#bwt-row-${index} .bwt-column`);
                    if (correspondingBWTCell) {
                        selectedCells.push(correspondingBWTCell); // Add the BWT cell to the array too
                    }
                }
            });

        tagAndHighlightCells(selectedCells, 1, 'highlight-pink');
        string_done.push(targetChar)
        const currentState = saveTableState();
        saveStepState(step, currentState); // Save the state for the current step
        linkStepStates(step);
        
        }
        // Logic for Step 2 and subsequent even steps (2,4,6,...)
        else if (step % 2 === 0) {
            finished = false
            let pattern = '{{ pattern }}';
            let selectedCells = [];
            let selectedRankCells = [];
            if (pattern.length < string_done.length) {
                console.log("Pattern too short for current step", pattern.length, string_done);
                return; // If the pattern is shorter than the current step, there's nothing to do
            }

            
            targetChar = pattern[pattern.length - string_done.length - 1 ];

            let previousStepTag = `step-${step - 1}`; // The tag from the previous step
            let firstColumnCells = document.querySelectorAll('.first-column');
            let lastColumnCells = document.querySelectorAll('.bwt-column');
            let rankArray = [];

            // Loop through each cell in the "BWT" column
            lastColumnCells.forEach((cell, index) => {
                let firstCell = firstColumnCells[index];
                if (cell.textContent === targetChar && firstCell.dataset.tag === previousStepTag) {
                    selectedCells.push(cell); // Add the BWT cell to the selected list
                    selectedCells.push(firstCell); // Also add the corresponding First cell

                    // Find and add the corresponding rank cells for the same character
                    let correspondingRankCells = document.querySelectorAll(`#bwt-row-${index} .rank-${targetChar}`);
                    correspondingRankCells.forEach(rankCell => {
                        selectedRankCells.push(rankCell);
                        rankArray.push(rankCell.textContent);

                        drawArrowBetweenCells(cell, rankCell, step);
                        
                    });
                    next_step_lookahead.set(targetChar, rankArray);
                }
            });
            // Now, use the tagAndHighlightCells function to highlight and tag the selected cells
            tagAndHighlightCells(selectedCells, step, 'highlight-pink');
            tagAndHighlightCells(selectedRankCells, step, 'highlight-red');
            clearHighlightsFromStep(last_step);
            string_done.push(targetChar)
            const currentState = saveTableState();
            saveStepState(step, currentState); // Save the state for the current step
            linkStepStates(step); // Link the current step state with the previous and next states
        }
        // Logic for subsequent odd steps (3,5,7,...) similar to Step 1 but with different calculations
        /// Logic for these steps will have to change if you add new columns
        else if (step % 2 !== 0) {
            let pattern = '{{ pattern }}';
            if (string_done.length >= pattern.length) {
                maxSteps = step
                finished = true
            }
            let selectedCells = [];
            var position_cells = [];
            let previousStepTag = `step-${step - 1}`; // The tag from the previous step

            const allRows = document.querySelectorAll('table tr');
            let targetCharArray = []
            const rowsWithTargetValue = Array.from(allRows).filter(row => {
                const firstCell = row.cells[2]; //this is the FIRST column
                console.log(firstCell.textContent) // Get the first cell in the row
                return firstCell && firstCell.textContent.trim() === targetChar
            });

            next_step_lookahead.get(targetChar).forEach(rank => {
                let row = document.getElementById(rowsWithTargetValue[rank-1].id);
                selectedCells.push(row.cells[2]) //firsts
                selectedCells.push(row.cells[3]) //BWT
                position_cells.push(row.cells[1]) //positions
            });
            
            // Select cells tagged in the previous step
            let firstColumnCells = document.querySelectorAll('.first-column');
            
            // Now, use the tagAndHighlightCells function to highlight and tag the selected cells
            clearHighlightsFromStep(last_step)
            tagAndHighlightCells(selectedCells, step, 'highlight-pink');
            tagAndHighlightCells(position_cells, step, 'highlight-red');

            const currentState = saveTableState();
            saveStepState(step, currentState); // Save the state for the current step
            linkStepStates(step); // Link the current step state with the previous and next states
        }
    }

    // Function to update the visualization based on the current step
    function updateVisualization() {
        // Update the display for the current step
        currentStep.toString().length
        if(currentStepDisplay.textContent.length > 4 && languageInput.value == "en") {
            currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
        }
        if(currentStepDisplay.textContent.length > 5 && languageInput.value == "hr") {
            currentStepDisplay.textContent = currentStepDisplay.textContent.slice(0,0-currentStep.toString().length)
        }
        currentStepDisplay.textContent += " " +currentStep;
        // Clear previous highlights
        if(currentStep < last_step) {
            clearHighlightsFromStep(last_step);
            clearTagsFromStep(last_step)
        } else {
            clearHighlightsFromStep(currentStep-2);
        }
        
        performStepLogic(currentStep);

        // Show or hide navigation controls based on whether the table is visible
        if (document.querySelector('.bwt-matrix')) { // Check if the BWT matrix table exists
            navControls.style.display = 'block'; // Show the controls
        } else {
            navControls.style.display = 'none'; // Hide the controls
        }
    }
    
    // Event listeners for the input fields and initial setup
    document.addEventListener('DOMContentLoaded', function() {
        const savedLanguage = localStorage.getItem('preferredLanguage') || 'en';
        const languageInput = document.getElementById('languageInput');
        languageInput.value = savedLanguage;
        console.log(languageInput.value);
        makelanguagechanges(savedLanguage);


        textInput.addEventListener('input', updateButtonState);
        if (document.querySelector('.bwt-matrix')){
            patternInput.style.display = "inline-block"
            patternInput.addEventListener('input', updateButtonState);
        }
        
        updateButtonState(); // Set the initial state of the submit button
        if (count_value == "-1" || count_value == "0") {
            console.log("...")
        } else {
            updateVisualization(); // Set up the initial visualization
        }
    });

    document.addEventListener('languageChanged', function() {
        const savedLanguage = localStorage.getItem('preferredLanguage') || 'en';
        makelanguagechanges(savedLanguage); 
    });
    </script>
    
{% endblock %}
